body {
    background: black;
    color: springgreen;
    text-align: center;
    font-family: 'Courier New', monospace;
    padding: 0;

}

.this-is-div-1 {
    height: 850px;
    background-color: black;
    position: relative;
}

.this-is-div-2 {
    height: 850px;
    background-color: black;
}

.this-is-div-3 {
    height: 850px;
    background-color: black;
    /*position: absolute;*/
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.title {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 5em;
    padding: 10px;
}

body {
    margin: 50px;
}

.guitar {
    position: relative;
    bottom: 250px;
    left: 50px;
}

.spaceship {
    position: relative;
    bottom: 250px;
    right: 50px;
}
