body {
    background: black;
    color: springgreen;
    text-align: center;
    font-family: 'Courier New', monospace;

}

.this-is-div-1 {
    height: 600px;
    background-color: black;
}

.this-is-div-2 {
    height: 600px;
    background-color: black;
}

.this-is-div-3 {
    height: 600px;
    background-color: black;
    /*position: absolute;*/
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

body {
    margin: 50px;
}
