body {
    background: #F47C7C;
}

.this-is-div-1 {
    height: 200px;
    background-color: #F7F48B;
}

.this-is-div-2 {
    height: 200px;
    background-color: #A1DE93;
}

.this-is-div-3 {
    height: 200px;
    background-color: #70A1D7 ;
}